.taskBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 1.8rem;
    color: var(--gray-100);
    font-weight: normal;
}

.taskIconAndText {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 62.3rem;
}

.taskText {
    line-height: 1.6rem;
}

.taskTextFinalizada {
    color: var(--gray-300);
    text-decoration: line-through;
}

.removeTaskButton {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: all .2s;
    padding: 0.5rem;
    color: var(--gray-300);
}

.removeTaskButton:hover {
    background-color: var(--gray-400);
    color: var(--danger);
}